@import "tailwindcss";

@theme {
    --color-background:#060011;       
    --color-surface: #ffffff;          
    --color-primary: #fff;         
    --color-secondary: #160e28;        
    --color-text-primary: #fff;     

    --font-inter: "Inter", sans-serif;
    --font-weight-regular: 400;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    --color-onahau-50: #e4e5ff;
    --color-onahau-100: #cfcfff;
    --color-onahau-200: #aaa8ff;
    --color-onahau-300: #7c74ff;
    --color-onahau-400: #5f3eff;
    --color-onahau-500: #5213ff;
    --color-onahau-600: #4a00ff;
    --color-onahau-700: #4a00ff;
    --color-onahau-800: #4200e4;
    --color-onahau-900: #3900b0;
    --color-onahau-950: #060011;
}

body {
    @apply font-inter bg-background text-text-primary font-normal;
}
